*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --font-headings: 'Fira Code', 'Courier New', Courier, monospace;
    --font-paragraph: 'Roboto', Arial, Helvetica, sans-serif;

    --font-color: #D4D4D4;
    --font-color2: #111111;
    --backgroundcolor1: #1e1e1e;
    --backgroundcolor2: #252526;
    --backgroundcolor3: rgba(255, 255, 255, 0.61);
    --gray-color: #676767;

    --yellow-color: #F2BC1B;
    --green-color: #8ace24;
    --blue-color: #3d79f2;
    --pink-color: #f22e8a;
}





/*******************/
/* ALGEMENE OPMAAK */
/*******************/
body {
    width: 100%;
    overflow-x: hidden;
}

#homepagina {
    background-color: var(--backgroundcolor1);
    height: 100vh;
}

main,
footer {
    background-color: var(--backgroundcolor2);
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
p,
a,
li {
    color: var(--font-color);
    font-size: 1rem;
}

h1,
h2,
h3,
a {
    font-family: var(--font-headings);
}

h1 {
    font-size: 1.7rem;
    font-weight: 300;
    margin: 1rem;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;

    margin: .5rem 0 3rem 0;
}

p,
li {
    font-family: var(--font-paragraph);
    line-height: 1.3rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* 
.dottedgrid {
    width: 5.1rem;
    height: 3.5rem;
    position: absolute;

    background-image: radial-gradient(var(--font-color), .12rem, transparent 0);
    background-size: 1.5rem 1.5rem;
    background-position: -2rem -2rem;
} */


.dottedgrid {
    width: 3.6rem;
    height: 3.5rem;
    position: absolute;

    background-image: radial-gradient(var(--font-color), .12rem, transparent 0);
    background-size: 1.5rem 1.5rem;
    background-position: -2rem -2rem;
}


/*******/
/* NAV */
/*******/
.navbar {
    padding: 1.5rem;
}

.navbar>nav {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--backgroundcolor1);
    z-index: 10;
    align-items: center;
}

.navbar>nav>div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundcolor1);
    z-index: 100;
    padding: 2rem 2rem;
    transform: translateX(100%);
}

.navbar>nav>div>button {
    margin: 1.5rem;
    width: 2.5rem;
    aspect-ratio: 1/1;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar>nav>div>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar>nav>div>ul>li {
    margin-bottom: 3rem;
}

.navbar div ul li:first-of-type a:hover,
.navbar div ul li:first-of-type a:focus {
    color: var(--yellow-color);
}

.navbar div ul li:nth-of-type(2) a:hover,
.navbar div ul li:nth-of-type(2) a:focus {
    color: var(--green-color);
}

.navbar div ul li:nth-of-type(3) a:hover,
.navbar div ul li:nth-of-type(3) a:focus {
    color: var(--blue-color);
}

.navbar div ul li:last-of-type a:hover,
.navbar div ul li:last-of-type a:focus {
    color: var(--pink-color);
}

.menuBtn {
    background-color: transparent;
    border: none;
}


.menuBtn>svg {
    height: 1.5rem;
    width: 1.5rem;
}

.closeBtn {
    background: none;
    color: inherit;
    border: none;
    padding: .5rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.closeBtn>svg {
    width: 1.5rem;
    height: 1.5rem;
}


.closeBtn:focus {
    border: .1rem solid white;
}

.openMenu {
    transform: translateX(0) !important;
    transition: transform .5s ease-in-out;
}

.closeMenu {
    transform: translateX(100%) !important;
    transition: transform .5s ease-in-out;
}

main>.infoBlock {
    padding: 5rem 1.5rem;
}

.infoBlock {
    position: relative;
}



/****************/
/* Intro stukje */
/****************/
#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.5rem 1.5rem 0 1.5rem;
    background-color: var(--backgroundcolor1);
    height: 95vh;
}

/* pixelart icon */
#introduction>aside {
    width: 7rem;
}

#introduction>section {
    text-align: center;
}

/* navigationbuttons homepage */
#introduction>section>nav {
    display: flex;
    flex-direction: column;
}

.solidButton {
    display: inline-block;
    padding: .75rem;
    margin: 2rem 0 .5rem 0;
    font-size: 1rem;
    background-color: var(--yellow-color);
    color: var(--font-color2);
    border-radius: 5rem;
    border: 0.2rem solid var(--yellow-color);
}

.borderButton {
    display: inline-block;
    padding: .75rem;
    margin: .5rem 0 2rem 0;
    font-size: 1rem;
    border: .2rem solid var(--yellow-color);
    border-radius: 5rem;
}




/************/
/* Over mij */
/************/
#overmij>div>section>h2 {
    color: var(--green-color);
}

#overmij>div>section>p {
    margin: 1rem 0;
}

#overmij>div>section>h3 {
    color: var(--green-color);
    font-weight: 600;
}

#overmij>div>section>ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1.5rem;
}

#overmij>div>section>ul>li {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 4rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


#overmij>div>section>ul>li>p {
    text-align: center;
    font-size: 0.8rem;
}

#overmij>div>section>ul>li>img {
    width: 2.2rem;
}

#overmij>div>aside {
    position: relative;
    margin-top: 3rem;
    transform: rotate(-2deg);
}

#overmij>div>aside>div {
    background: transparent;
    border: 0.2rem solid var(--green-color);
    width: 10rem;
    height: 15.3rem;
    position: absolute;
    top: -.8rem;
    left: 50%;
    transform: translateX(calc(-50% - .9rem));
    z-index: 2;
}

#overmij>div>aside>img {
    width: 10rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



/*************/
/* Projecten */
/*************/
#projecten>div>h2 {
    color: var(--blue-color);
}

#projecten>div>ul>li {
    padding: 1rem;
    margin: 1rem 0;
    border: var(--blue-color) solid .2rem;
    width: 100%;
}

#projecten>div>ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projecten>div>ul>li>a>img {
    max-height: 14rem;
}

#projecten>div>ul>li>a>p {
    font-family: var(--font-headings);
    font-weight: 600;
    margin-top: 1rem;
}

#rijkskunst>a>img {
    height: 16.5rem;
    display: block;
}






/***********/
/* Contact */
/***********/
#contact>div>h2 {
    color: var(--pink-color);
}

#contact>div>p {
    margin-bottom: 2.5rem;
    max-width: 35rem;
}

#contact>div>ul>li {
    margin-bottom: 1.5rem;
    width: fit-content;
}

#contact>div>ul>li>a {
    display: flex;
    align-items: center;
}

#contact>div>ul>li>a>img {
    width: 2.5rem;
    margin-right: 1rem;
}


/*********/
/*Footer */
/*********/
footer {
    background-color: var(--backgroundcolor1);
    padding: .5rem 1.5rem;
}



/***************/
/* Detailpages */
/***************/
.detailpage {
    padding: 1.5rem;
    height: 95vh;
}

.detailpage>div>h2 {
    margin: 1rem 0;
    color: var(--blue-color);
}

.detailpage>div>h3 {
    margin-top: 2rem;
    font-size: 1.1rem;

}

.detailpage>div>p {
    margin: 0.5rem 0 1rem 0;
}

.detailpage>img {
    margin: 1.5rem 0;
}

.solidButtonBlue {
    display: block;
    padding: .75rem;
    margin: .5rem auto .5rem auto;
    font-size: 1rem;
    color: var(--font-color2);
    border-radius: 5rem;
    background-color: var(--blue-color);
    text-align: center;
    border: 0.2rem solid var(--blue-color);
}

.borderButtonBlue {
    display: block;
    padding: .75rem;
    margin: .5rem auto .5rem auto;
    font-size: 1rem;
    border: .2rem solid var(--blue-color);
    border-radius: 5rem;
    text-align: center;
}




/****************/
/* Mediaqueries */
/****************/
/* Different styling from 64em */
@media screen and (min-width: 64em) {
    h1 {
        text-align: start;
        font-weight: 400;
        font-size: 2.7rem;
        margin: 0 0 1rem 0;
    }


    h2 {
        text-align: start;
        font-size: 2.5rem;
        margin: 0 0 1rem 0;
    }

    .menuBtn,
    .closeBtn {
        display: none;
    }

    .navbar>nav>div {
        transform: translateX(0%);
        position: relative;
        height: auto;
        width: 25rem;
    }

    .navbar>nav>div>ul {
        flex-direction: row;
        width: 100%;
        justify-content: space-between
    }

    .navbar>nav>div>ul>li {
        margin-bottom: 0;
    }

    .navbar>nav>div>ul>li:first-of-type {
        display: none;
    }

    #introduction {
        padding: 0.3rem 10%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    #introduction>section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 50%;
    }

    #introduction>section>p {
        text-align: start;
        max-width: 27rem;
    }

    #introduction>section>nav {
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }

    #introduction>aside {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    #introduction>aside>img {
        width: 13rem;
    }

    #overmij>div:nth-of-type(2) {
        display: flex;
        flex-direction: row-reverse;
        gap: 10rem;
    }

    #overmij>div>aside>div {
        width: 17rem;
        height: 25.5rem;
    }

    #projecten>div>p{
        margin-bottom: 2rem;
    }

    #projecten>div>ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        margin: auto;
    }

    #projecten>div>ul>li:first-of-type {
        grid-area: 1 / 1 / 2 / 2;
    }

    #projecten>div>ul>li:nth-of-type(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    #projecten>div>ul>li:nth-of-type(5) {
        grid-area: 1 / 2 / 3 / 3;
    }

    #projecten>div>ul>li:nth-of-type(3) {
        grid-area: 1 / 3 / 2 / 4;
    }

    #projecten>div>ul>li:nth-of-type(4) {
        grid-area: 2 / 3 / 3 / 4;
    }

    #projecten>div>ul>li {
        margin: 0;
    }

    #projecten>div>ul>li>a>img {
        height: 7rem;
    }

    #rijkskunst {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #rijkskunst>a>img {
        height: 100% !important;
    }

    .infoBlock {
        padding: 0 10% 0 10% !important;
        display: flex;
        align-items: center;
        height: 100vh;
    }

    .detailpage{
        padding: 2rem 10% 2rem 10% !important;
        display: flex;
        gap: 10rem;
        align-items: center;
    }

    .detailpage>div>div{
        display: flex;
        gap: 1rem;
        margin-top: 3rem;
    }

    .detailpage>div>div>a{
        margin: 0;
        width: 100%;
    }

    .detailpage>img {
        max-width: 30rem;
        max-height: 30rem;
        object-fit: contain;
        height: auto;
    }

    .dottedgrid {
        width: 5.1rem;
        height: 3.5rem;
        position: absolute;
        left: .5rem;
    }

    .openMenu {
        transform: translateX(0) !important;
    }

    .closeMenu {
        transform: translateX(0) !important;
    }

    .solidButton {
        margin: 2rem 0;
        padding: 1rem 2rem;
    }

    .borderButton {
        margin: 2rem 0;
        padding: 1rem 2rem;
    }

    .navbar>nav {
        padding: 0 10%;
    }

    #overmij>div>aside {
        transform: none;
    }

    #overmij>div>aside>img {
        width: 17rem;
        /* margin-right: 10rem; */
        max-width: none;
    }

    #overmij>div>section>ul {
        display: flex;
        justify-content: space-between;
    }

    #overmij>div>section>ul>li{
        width: 4rem;
    }

}